.analysis_cont{
	position: fixed;
	z-index: 9;
	top: 10%;
	left: 25%;
	background-color: #fff;
	width: 50%;
	min-height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	max-height: 80%;
}
.analysis_details{
	overflow-y: auto;
	width: 100%;
	height: 33em;
}
.analysis_details>div:first-child{
	display: flex;
}
.analysis_details>div:first-child>div{
	margin: .5em 0;
	padding: .5em;
}
.analysis_details .source{
	border-right: 1px solid #ccc;
  width: 10%;
}
.analysis_details .detail{
	border-right: 1px solid #ccc;
	width: 60%;
}
.analysis_details .graphics{
	border-right: 1px solid #ccc;
	width: 40%;
}

.sentiment{
	font-size: .9em;
	margin: 1em 0;
}
.sentiment>span{
	display: inline-block;
	border-radius: 1em;
	border: 1px solid #aaa;
	padding: .3em .5em;
}
.text_content{
	background: #eee;
	padding: .5em;
	font-size: .9em;
	height: 15em;
	overflow-y: auto;
}
.text_content>p{
	width: 100%;
	word-wrap:anywhere;
}
.analysis{
	
}
.keywords{
	font-size: 0.9em;
	border: 1px solid #ccc;
	border-radius: 1em;
	display: inline-block;
	padding: .3em .5em;
	margin: 0.1em 0;
}
.keywords>span{
	padding: 0 .2em;
	font-size: 0.9em;
}
.keywords>span:not(:last-child){
	border-right: 1px solid #ccc;
}
.keywords>span:nth-of-type(2){
	font-weight: bold;
}
.negative_keyword{
	background-color: #f22;
	color: #fff;
}
.positive_keyword{
	background-color: #2f2;
	color: #fff;
}

.tones{
	font-size: 0.9em;
	margin: 1em 0;
	padding: 1em 0;
}
.tones>div{
	padding: 0.2em;
	position: relative;
	border:1px solid #aaa;
	margin: 1em 0;
}
.tones>div>p{
	font-size: .9em;
}
.tones>div>span{
	font-weight: bold;
	background-color: #eee;
	font-size: .9em;
}

.graphics{
	
}
.graphics>div{
	margin: 0 0 .5em 0;
}
.graphics>div>img{
	width: 100%;
	height: 100%;
}
.tag_list{
	font-size: 0.9em;
	margin: .5em 0 0 0;
}
.tag_list>span{
	display: inline-block;
	padding: .2em .4em;
	border: 1px solid #ccc;
	border-radius: 1em;
	font-size: 0.9em;
	margin: 0.2em 0;
}
.tag_list>span>span:nth-child(2){
	font-weight: bold;
}
.summary{
	font-size: 0.9em;
}

.analysis_cont>.operate{
	width: 100%;
	height: 5em;
	background-color: #fff;
	border-top: 1px outset #aaa;
	padding: 1em 0 0 0;
}
.analysis_cont>.operate>div{
	height: 2.5em;
}
.analysis_cont>.operate>div>button{
	
}