section{
	/*padding-top: 7%;*/
	background-color: #eee;
	height: 100%;
	width: 100%;
}

.search_panel{
	background-color: #fff;
	z-index: 8;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	justify-content: flex-end;
	align-items: center;
}
.search_form{
	background-color: #fff;
	width: 50%;
}
.search_form>form{
	
}
.search_form>form>div:first-child{
	position: relative;
	border: 1px solid #000;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	height: 3em;
}
.search_form>form>div>input{
	height: 100%;
	width: 100%;
	border: none;
}
.search_form>form>div>button{
	position: absolute;
	border:none;
	right: 0;
	width: 9%;
	height: 100%;
}
.social_select{
	display: flex;
	justify-content: right;
	justify-content: flex-end;
	margin: .5em 0;
}
.social_select>label{
	display: flex;
	align-items: center;
	padding: 0 .5em;
	height: 2.5em;
	border: 1px solid #555;
	border-right: none;
}
.social_select>select{
	text-align: center;
	height: 3em;
	width: 15%;
	border: 1px solid #555;
	border-left: none;
}
#loader{
	position: absolute;
	top: 0;
	left: -80%;
	height: 100%;
	width: 80%;
}
.result_nav_panel{
	background-color: #fff;
	padding: 2em 0 1em 0; 
	width: 100%;
	display: flex;
	height: auto;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.result_nav_panel>div:first-child>span{
	color: #777;
}
.result_page_nav{
	background-color: #eee;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid #aaa;
	width: 10em;
	height: 2em;
}
.result_page_nav>span{
	display: inline-block;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.result_page_nav>span:not(:nth-child(3)){
	border-right: 1px solid #ccc;
}
.result_panel{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	height: auto;
	background-color: #eee;
}
.card{
	position: relative;
	margin: 1em;
	border: 1px solid #aaa;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	border-radius: 2px;
	width: calc(50% - 2em);
	height: auto;
}
.card>div:first-child{
	display: flex;
	padding: .5em;
	height: 80%;
}
.source{
	width: 8%;
}
.source>span{
	display: inline-block;
	background-color: #eee;
	width: 100%;
	text-align: center;
	padding: .1em;
}
.source>img{
	width: 100%;
	font-size: 0.9em;
	word-wrap:anywhere;
}
.detail{
	padding: 0 1em;
	width: 92%;
}
.detail>div{
	margin-bottom: .5em;
}
.detail>div:first-of-type{
	
}
.detail>div:first-child>span{
	font-size: .8em;
	color: #999;
}
.detail>div:nth-child(3){
	font-size: .8em;
	color: #555;
}
.detail>div:nth-child(3)>span{
	
}
.detail>div:nth-child(3)>a{
  font-style: italic;	
}
.detail>div:last-child{
	word-wrap:anywhere;
	margin-top: 1em;
}
.card>div>.graphics{
	padding: .5em;
	width: 40%;
}
.card>div>.graphics>div{
	margin-bottom: .5em;
}
.card>div>.graphics>div>img{
	
}
.operate{
	display: flex;
	justify-content: right;
	justify-content: flex-end;
	min-height: 3.5em;
	height: 20%;
}
.operate>div{
	width: 20%;
	height: 2.5em;
	margin-bottom: 1em;
	margin-right: 1em;
}
.operate>div>button{
	border: none;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.operate>div>button:hover{
	background-color: #ddd;
}
.background{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:100%;
	filter: blur(3px);
}
