{% extends 'app_ui/base.html' %}

{% block title %}
<title>Social Media Pulse Monitor</title>
{% endblock %}

{% block headDependency%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app_ui/style/loggedInStyle.css' %}">
{% endblock %}

{% block body%}

{% load static %}
<a href="{% url 'home_logout' %}"> <img src="{% static 'app_ui/images/logout1.png' %}" alt="logout" class="logoutIcon"></a>
<div class="blackBox blackBoxLoggedIn">

    <div class="buttonBox">
        <div class="quickAnalysisButton">
            <a href="{% url 'quick_analysis' %}"><button type="button">Quick Analysis</button></a>
        </div>
        <div class="plansButton">
            <a href="{% url 'user_plans' %}" class="plansButton"><button type="button">Purchase/Renew/Change Plan</button></a>
        </div>
        <div c/lass="viewDetailsButton">
            <a href="{% url 'account_details' %}"><button type="button">View Details</button></a>
        </div>

    </div>
    <div class="contentBox">
        <ul>
            <li>
                <h3>Measure the impact of your PR/Marketing efforts</h3>
                <br>
                <p>
                    Use <b>Quick Analysis</b> to track mentions about your keyword topics across social media, blogs, news sites, videos, forums, podcast. Thus, get the <b>bird's-eye view</b> of what's happening in your social world about your keyword topics.
                </p>
                <br>
                <p>
                    Use ‘analysis’ tab for your selected article to generate <b>on-demand AI based summary of each news article and categorize the news article to positive, negative, or neutral sentiment.</b> 
                </p>
            </li>
        </ul>
    </div>  
</div>
{% endblock %}

{% block tailDependency%}
{% load static %}
<script type="text/javascript" src="{% static 'app_ui/js/home_controller.js' %}"></script>
{% endblock %}