<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/analysis.css' %}">

	<script type="text/javascript" src="{% static 'dashboard/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'dashboard/js/scrollmagic.js' %}"></script>
	<script type="text/javascript" src="{% static 'dashboard/js/jsrender.js' %}"></script>

	<base target="_blank">

	<script>
		var controller = new ScrollMagic.Controller();

		$.views.settings.delimiters("[%", "%]");

		var planetics = {
			query:null,
			social_network:null,
			data:null,
			requestid:null,
			page:0,
			xhr:null
		};
	</script>
</head>
<body>
	<nav id="nav">
		
		<div class="app_name">
			<span>Planetics</span>
		</div>
		
	</nav>


	{% block body%}
	{% endblock %}

	<script type="text/javascript">
		
		$(function(){
			$('.analysis_cont').hide();
		});
	</script>

	<script type="text/javascript" src="{% static 'dashboard/js/ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'dashboard/js/app.js' %}"></script>

</body>
</html>